

html {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // max-width: 1440px;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

//---SECTION NAV-DROPBOX---//

#myDropdown {
  transition: 0.5s transform;
}

.nav__drop {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  height: 70px;
  position: fixed;
  margin: auto;
  // display: flex;
  z-index: 9;
  width: 100%;
  @media all and (min-width: 768px) { 
    display: none;
  }
  
  &--content {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
    list-style: none;
    // top: 23px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
  }

  &--item {
    padding-top: 23px;
    & a {
      color: white;
      text-decoration: none;
      &:hover {
        opacity: .4;
        z-index: 10;
      }
    }
  }
}




.nav__drop--content > li {
  background-color: black;
  position: relative;
  padding: .5rem 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 0 1 33.33%;
}
.nav__drop--content > li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0%;
  top: 0%;
  width: 1px;
  height: 100%;
  background-color:white;
}

//---SECTION NAV---//



nav {
  width: 100%;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
  height: 70px;
}

.nav-container {
    width: 66.6%;
    background-color: white;
    margin: auto;
    @media all and (min-width: 768px) and (max-width: 960px) { 
      width: 50%;
  }
}

.nav__active {
  @media all and (max-width: 768px) { 
    // top: 70px;
    // transition: 0.3 transform;
    transform: translatey(70px);
    
  }
}

.nav__plus--wrapper {
  &:hover {
    cursor: pointer;
  }
  @media all and (min-width: 768px) { 
    display: none;
    }
  @media all and (max-width: 768px) { 
    display: flex;  
    float: right;
    color: black;
    // position: relative;
    }
}

.nav__plus {
  position: relative;
  margin-top: 6px;
  background: black;
  height: 40px;
  position: relative;
  width: 14px;
  &:after {
    background: black;
    content: "";
    height: 14px;
    left: -13px;
    position: absolute;
    top: 13px;
    width: 40px;
  }
  &:hover {
    opacity: .85;
  }
}

.nav__plus--active {
  transform: rotate(45deg);
}

.logo {
  display: inline-block;
  padding-top: 2px;
  &:hover {
    opacity: .85;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  float: right;
  align-items: center;
  @media all and (max-width: 768px) { 
    display: none; 
    }
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  padding-bottom: 7px;
  text-decoration: none;
  color: black;  
  transform: translatey(15%);
}



/* NAVIGATION HOVER */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: black;
}
.nav-container ul li a {
  position: relative;
}

.nav-container ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}
.nav-container ul li a:hover:after {
  width: 75%;
}

.nav-container ul li a {
  transition: all 2s;
}


// HIGHLIGHT AND FILL NAV ITEM BLOCK / MAKE CONTENT TRANSPARENT, FILL FROM BOTTOM

//  .nav-container ul li a:after {
//    text-align: left;
//    content: '.';
//    margin: 0;
//    opacity: 0;
//  }
//  .nav-container ul li a:hover {
//    color: #fff;
//    z-index: 1;
//  }
//  .nav-container ul li a:hover:after {
//    z-index: -10;
//    animation: fill 1s forwards;
//    -webkit-animation: fill .9s forwards;
//    -moz-animation: fill 1s forwards;
//    opacity: 1;
//  }

// /* NAVIGATION HOBER Keyframes */
//  @-webkit-keyframes fill {
//    0% {
//      width: 0%;
//      height: 1px;
//    }
//    50% {
//      width: 100%;
//      height: 1px;
//    }
//    100% {
//      width: 100%;
//      height: 100%;
//      background: black;
//    }
//  }







.nav-item:hover a {
  color: black;
}

.logo img {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.nav-item-last a {
    // padding-right: 0;
    margin-right: 0;
}


//---SECTION HEADER/SLIDER---//
.intro {
  // top: -70px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  height: 100vh;
  // background-image: url(images/slidercomp.jpg); 
  background: 
      linear-gradient(
        rgba(0, 0, 0, .6)
      ),
      url("images/background-2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__wrapper {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 28%;
    @media all and (min-width: 320px) and (max-width: 455px) {
      top: 34%;
    }
    @media all and (min-width: 455px) and (max-width: 667px) {
      top: 41%;
    }
    @media all and (min-width: 667px) and (max-width: 768px) {
      top: 46%;
    }
    @media all and (min-width: 960px){
      width: 61.6%;
      top: 44%;
    }
    @media all and (min-width: 768px) and (max-width: 960px) { 
     width: 50%;
     top: 44%;
  }
    // @media all and (min-width: 768px) and (max-width: 960px) { 
    //   width: 45.8%;
    // }
  }
  &__content {
      font-size: 26px;
      color: white;      
      text-align: center;
      position: relative;
      font-family: 'Lato', sans-serif;
      -webkit-font-smoothing: antialiased;
      line-height: 1.6;
      @media all and (min-width: 960px){
        line-height: 1.2;
      }
      @media all and (min-width: 768px) and (max-width: 960px) { 
        line-height: 1.2;
        font-size: 22px;
    }
  }

  &__button {
    position: absolute;
    color: black;
    background-color: white;
    transform: translate(-50%);
    left: 50%;
    bottom: -38%;
    height: 46px;
    width: 140px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 6px;
    text-transform: uppercase;
    // font-family: 'Lato', sans-serif;
    @media all and (min-width: 455px) and (max-width: 667px) {
      bottom: -61%;
    }
    @media all and (min-width: 667px) and (max-width: 768px) {
      bottom: -84%;
    }
    @media all and (min-width: 960px){
      top: 180%;
    }
      @media all and (min-width: 768px) and (max-width: 960px) { 
      top: 143%;
    }
    &:hover {
      cursor: pointer;
      opacity: .5;
    }
    &:focus {
     outline: none;
     border: none; 
    }
  }
}

//---SECTION WORK---// 
.work {
    justify-content: center;
    height: 100%;
    padding-bottom: 4%;
    @media all and (min-width: 768px) and (max-width: 960px) { 
        padding-bottom: 2.5%;
    }
    @media all and (min-width: 320px) and (max-width: 768px) { 
            padding-bottom: 0;
    }
      &:before { 
        content: ''; 
        display: block; 
        position: relative; 
        width: 0; 
        height: 5em; 
        margin-top: -70px 
      }

    &__wrapper {
        width: 66.6%;
        grid-row-gap: 2.3%;
        grid-column-gap: 2.7%;
        list-style-type: none;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: auto;
        padding: 0;
        padding-top: 6%;
        padding-bottom: 6%;
        // @media all and  (min-width: 960px) { 
        //     margin: none;
        // }
        @media all and (min-width: 768px) and (max-width: 960px) { 
          width: 50%;
          grid-row-gap: 2.9%;
          height: 76%;
          position: relative;
          padding-bottom: 7.5%;
          padding-top: 7.5%;
          left: 50%;
          transform: translate(-50%);
          margin: 0;
        }
        @media all and (min-width: 320px) and (max-width: 768px) { 
            display: block;
            width: 81.25%;
            padding-bottom: 0;
        }
            
    }
    &__li {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        @media all and (min-width: 320px) and (max-width: 768px) { 
            padding-bottom: 7%;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
    }
}

// Example space


p {
    padding: 0;
    margin: 0;
}

// -----IMG HOVER
.img__wrap {
        position: relative;
        height: 100%;
  }
  .img__description {
    padding-top: 30%;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  //MQ to darken img, ignoring med MQ to work with scale
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;    
  }

  
  //---SECTION ABOUT---//

  .about {
    overflow: auto;
    margin: 0;
    padding: 0;
    background: 
      linear-gradient(
        rgba(0, 0, 0, .3)
      ),
      url("images/backimg.jpg");
    // background-image: url("images/backimg.jpg");
    background-repeat: no-repeat;
    // background-size: 100% 100%;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    @media all and (min-width: 320px) and (max-width: 768px) { 
     height: 700px;
   }
  //  &:before {
  //    content: '';
  //    height: 100%;
  //    width: 100%;
  //   color: rgba(0,0,0,0.9);
  //  }
    &__container {
      height: 100%;
      width: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      // overflow: auto;
    }

    &__header {
      font-size: 36px;
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      text-align: center;
      color: white;
      position: relative;
      top: 18%;
      left: 50%;
      transform: translate(-50%);
      color: rgb(255,255,255);
      -webkit-font-smoothing: antialiased;
      @media all and (min-width: 320px) and (max-width: 768px) { 
        top: 10%;
        font-size: 26px;
     }
    }

    &__photo {
      display: block;
      margin: 0;
      position: relative;
      width: 140px;
      left: 50%;
      transform: translate(-50%);
      top: 23%;
      border-radius: 50%;
      @media all and (min-width: 320px) and (max-width: 768px) { 
       top: 14%;
       width: 216px;
     }
      &--divide {
        transform: translate(-50%);
        border-top: 1px solid white;
        display: block;
        position: relative;
        width: 90px;
        top: 28%;
        left: 50%;
        @media all and (min-width: 320px) and (max-width: 768px) { 
          width: 189px;
          top: 17%;
       }
    
      }
    }


    &__content {
        text-align: center;
        width: 47%;
        color: white;
        // position: absolute;
        position: relative;
        top: 105%;
        transform: translate(-50%);
        left: 50%;
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        line-height: 1.5;
        display: inline-block;
        color: rgb(255,255,255);
        @media all and (min-width: 320px) and (max-width: 768px) { 
          width: 75%;
          top: 69%;
       }

        &--1 {
          padding-bottom: 10px;
        }

        &--wrapper {
          height: 30%;
          width: 100%;
        }
    }
  }


  //---SECTION CONTACT---//

  .contact {

    margin: 0;
    padding: 0;
    height: 51vh;
    background-color: #000000;

    &__container {
      height: 100%;
      width: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__header {
      font-size: 36px;
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      text-align: center;
      color: white;
      position: relative;
      top: 36%;
      left: 50%;
      transform: translate(-50%);
      color: rgb(255,255,255);
      -webkit-font-smoothing: antialiased;
      @media all and (min-width: 320px) and (max-width: 768px) { 
       top: 27%;
     }
    }

    &__content {
      
        text-align: center;
        width: 47%;
        color: white;
        position: relative;
        top: 41%;
        transform: translate(-50%);
        left: 50%;
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        line-height: 1.5;
        display: block;
        color: rgb(255,255,255);
        -webkit-font-smoothing: antialiased;
        @media all and (min-width: 320px) and (max-width: 768px) { 
          top: 32%;
          font-size: 16px;
          width: 66%;
       }
          &--link {
            color: white;
            @media all and (min-width: 320px) and (max-width: 768px) { 
              font-weight: bold;
           }
          }
    }
  }
  //---SECTION FOOTER---//

  .footer {
    // overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    height: 35vh;
    background-image: url(images/backgroundfoot.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media all and (min-width: 320px) and (max-width: 768px) { 
      height: 50vh;
   }
    &__container {
        height: 100%;
        width: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-top: 1.5px solid rgba(145, 145, 149, .2);
          &--circle-wrap {
            height: 100%;
            width: 100%;
            position: relative;
          }
          &--circle-icon {
            left: 50%;
            position: absolute;
            transform: translate(-50%);
            top: -12%;
            @media all and (min-width: 320px) and (max-width: 768px) { 
              top: -7.5%;
           }
           @media all and (min-width: 768px) and (max-width: 960px) { 
            top: -13%;
          }
            &:before {
              color: black;
            }
            &-background {
              background-color: white;
              display: block;
              height: 25px;
              width: 29px;
              position: relative;
              left: 50%;
              -webkit-transform: translate(-50%);
              transform: translate(-50%);
              top: -7%;
              border-radius: 25%;
              @media all and (min-width: 768px) and (max-width: 960px) { 
                top: -8%;
              }
              @media all and (min-width: 320px) and (max-width: 768px) { 
                top: -4%;
             }
          }
        }
    }
    &__links {
      font-size: 16px;
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      text-align: center;
      padding-top: 16px;
      border-top: 1px solid white;
      color: #a1a3a6;
      position: relative;
      top: -70%;
      width: 108px;
      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      -webkit-font-smoothing: antialiased;
      @media all and (min-width: 320px) and (max-width: 768px) { 
        padding-top: 31px;
        border-top: 1.2px solid white;
        top: -69%;
        width: 156px;
     }
     &--color {
      color: #a1a3a6;
     }

    }
    &__content {
      text-align: center;
      width: 47%;
      color: white;
      position: relative;
      top: -59%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      left: 50%;
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;
      line-height: 1.5;
      display: block;
      color: #a1a3a6;
      -webkit-font-smoothing: antialiased;

      @media all and (min-width: 320px) and (max-width: 768px) { 
        width: 90%;
        top: -62%;
        font-size: 14px;
        line-height: 1.3;
     }
        &--email-icon{
            color: #a1a3a6;
        }
        &--linked-icon {
          padding-left: 32px;
          color: #a1a3a6;
          @media all and (min-width: 320px) and (max-width: 768px) { 
            padding-left: 44px;
         }
        }
    }
  }

  // .fa {
  //   color: #a1a3a6;
    
  // }
